.contact-section-content-container {
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 100%;
    gap: 30px;
}

.contact-info {
    justify-content: space-around;
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}
  
.contact-item {
    background-color: white;
    border-radius: 8px;
    text-align: center;
    padding: 15px;
    gap: 10px;
}
  
.contact-item p {
    margin: 12px 0 0;
}
  
  
  
  
  
  
  
  
  


