.welcome-container {
    background-color:#e3e3e3;
    height: 100%;
    width: 100px;
}

.welcome-content-container {
    align-items: center;
    flex-direction: column;
    position: absolute;
    display: flex;
    bottom: 10%;
    width: 100%;
    gap: 10px;

}
.welcome-content-container span:nth-child(1) {
    font-family:inter-semibold;
    font-size: 30px;
    color: red;
}

.welcome-content-container span:nth-child(2) {
    font-family: inter-semibold;
    font-size: 30px;
    color: red;
}

.container {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    gap: 10px;
}
  
.images-box {
    position: relative;
    overflow: hidden;
    width: 100%;
}
  
.images-box img {
    display: block;
    height: auto;
    width: 100%;
}

.overlay {
    transition: opacity 0.3s ease;
    background-color: red;
    text-align: center;
    font-size: 24px;
    color: #fff;
    padding: 5px;
    opacity: 0;
}

.images-box:hover .overlay {
    opacity: 1;
}
.contact-section-content-container {
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 100%;
    gap: 30px;
}

.contact-info {
    justify-content: space-around;
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}
  
.contact-item {
    background-color: white;
    border-radius: 8px;
    text-align: center;
    padding: 15px;
    gap: 10px;
}
  
.contact-item p {
    margin: 12px 0 0;
}

  
  
  
  
  
  
  
  
  




 



 