@font-face {
    font-family: inter-regular;
    src: url("../fonts/Inter-Regular.ttf");
}
 
@font-face {
    font-family: inter-light;
    src: url("../fonts/Inter-Light.ttf");
}
 
@font-face {
    font-family: inter-semibold;
    src: url("../fonts/Inter-Semibold.ttf");
}
 
@font-face {
    font-family: inter-bold;
    src: url("../fonts/Inter-Bold.ttf");
}
 
@font-face {
    font-family: inter-medium;
    src: url("../fonts/Inter-Medium.ttf");
}

* {
    padding: 0;
    margin: 0;
 }
   
html, body {
    background-color: #e3e3e3;
    font-family: inter-regular;
    height: 100%;
    width: 100%;
}
 
.header-table {
    display: table;
    width: 100%;
}
 
.header-table-cell {
    background-color: white;
    display: table-cell;
    padding: 24px;
    width: 100%;
}
 
.header-container {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    user-select: none;
    display: flex;
    width: 100%;
}

.header-logo {
    height: 60%;
    width: 60%;

}

button {
    background-color: #F80E0E;
    border: 2px solid #F80E0E;
    font-family: inter-semibold;
    border-radius: 50px;
    padding: 10px 60px;
    user-select: none;
    font-size: 16px;
    border: white;
}
 
button:active {
    transform: translateY(2px);
    transition: transform 0.1s;
    user-select: none;
}
  
button.filled {
    background-color: #F80E0E;
    color: white;
    font-size: 18px;
 }
  
.header-content span:nth-child(1) {
    font-family:inter-regular;
    color: #F80E0E;
    font-size: 30px;
}
 
.mobile-menu-button {
    display: none;
    padding: 30px;
}
 
@media screen and (max-width: 950px) {
  .mobile-menu-button {
    display: block;
  }
 .nav-container {
   display: none !important;
 }
}
  
a {
    text-decoration: none;
    color: #2E2E2E;
}
 
a:hover {
    text-decoration: none;
    color: #F80E0E;
}
 
.nav-container {
    font-size: 30px;
    display: flex;
    gap: 20px;
}
 
.section-title {
    font-family: inter-regular;
    margin-bottom: 100px;
    color: red;
    font-size: 30px;    
}
 
.section-container {
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    user-select: none;
    font-size: 24px;
    display: flex;
    padding: 100px;
    width: 100%;
}
 
.text-input-container {
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-size: 24px;
    display: flex;
    width: 100%;
 }
 
.text-input-container input {
    font-family: inter-regular;
    border: 2px solid white;
    font-size: 18px;
    border-radius: 10px;
    outline: none;
    padding: 10px;
    width: 100%;
}

.multi-text-input-container textarea {
    font-family: inter-regular;
    border: 2px solid white;
    font-size: 18px;
    border-radius: 10px;
    min-height: 150px;
    resize: vertical;
    outline: none;
    padding: 20px;
    width: 100%;
}
 
.footer-container {
    justify-content: space-between;
    font-family: inter-semibold;
    background-color: white;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    padding: 20px 30px;
    position: relative;
    user-select: none;
    color: #F80E0E;
    font-size: 24px;
    display: flex;
    width: 100%;
}
 
.footer-logo {
    border-radius: 80%;
    height: 40px;
    width: 40px;
 
}
 
